@charset "utf-8";
/* CSS Document */
body,div,span,select,option{margin:0;font-size:14px; font-family:微软雅黑;color:#626262 }
	img { border:0px;
		}
.white_content {display: none;position: absolute;  top: 25%;  left: 10%; width: 80%;height: 400px;border: 1px solid #454c54;background-color: #f2f4f8;z-index:99999;overflow:auto;box-shadow: 0px 0px 8px #454c54;}

/*以下是TOP导航部分*/
	.nav{width:100px; height:45px;margin-top:34px;float:left;margin-left:55px; border:0px}
	.icon_back{width:45px; height:45px;margin-top:15px;float:right;}

	/*以下是布局页面部分*/
	.text_title{font-size:16px;height:30px; line-height:30px;}
	.text_content{height:24px; line-height:24px;color:#aeacac}

	/*以下是Color页面部分*/
	.color_table{margin-top:10px;float:left;width:950px; margin-left:50px;}
	.color_table td{ height:30px;line-height:30px;text-align:left; padding-left:10px;}
	.color_text1{line-height:22px; height:22px; text-align:left; vertical-align:bottom}
	.color_text2{line-height:14px; height:22px; text-align:left;vertical-align:top}
	.color_text3{line-height:14px; height:22px; text-align:left; font-size:12px;color:#aeacac; vertical-align:top}
	.color_table .header{line-height:60px; height:60px; text-align:left; font-size:16px; padding-left:10px;border-bottom:#e0e0e0 1px dashed;}

	/*以下是图标页面部分*/
	.icon{margin-left:20px}
	.icon_1{width:32px; height:32px; }
	.icon_2{width:32px; height:32px;margin-left:20px}
	
	/*以下是组件-表单页面部分*/
	.inputbox{display:block;width:150px;height:25px;line-height:26px;font-size:14px;position:absolute;border:1px solid #d2d3d5;outline: none; color:#545454; font-family:微软雅黑;}

	
	/*以下是组件-table页面部分*/
	 a.leftmenu{display:block;float:left;width:155px;height:59px;line-height:59px;cursor:pointer; text-decoration:none;   text-align:center;font-size:14px; color:#535353; letter-spacing:0.6px; }
	 a.leftmenu:hover,.currentmenu{display:block;float:left;background: url(images/bg_1.png);width:155px;height:59px;line-height:59px; text-align:center;font-size:14px; color:#535353; letter-spacing:0.6px; text-decoration:none;}
	 
	 .num_img{width:60px;height:32px;float:left;margin-top:2px}
	 .num_title{width:830px;height:16px; line-height:14px;color:#626262;float:left;}
	 .num_content{width:830px;height:20px; line-height:20px;color:#aeacac;float:left; font-size:12px}
	 .table_title{padding-left:60px;height:50px; line-height:50px; margin-top:10px}
	 .HTML_title{padding-left:60px;height:50px; line-height:50px; margin-top:10px; color:#1d95ce}

	 
	/*以下示例图页面部分*/
	 .div_showd{
		 position: fixed;
		 left: 0;
		 right: 0;
		 top: 0;
		 bottom: 0;
		 background: rgba(0,0,0,0.5);
		 z-index:10;
		 display: none;
	 }

